<footer class="cui-footer">
    <div class="cui-footer-left">
        <span>ES582.1 &ndash; Version 1.17.0</span>
        <a href="" class="p-link p-link-secondary p-link-sm">
            Create Ticket
            <i class="cui-icon-plus"></i>
        </a>
    </div>
    <div class="cui-footer-right">
        <a href="" class="p-link p-link-secondary p-link-sm">Legals</a>
        <a href="" class="p-link p-link-secondary p-link-sm">Disclaimer</a>
        <a href="" class="p-link p-link-secondary p-link-sm">Terms of use</a>
        <a href="" class="p-link p-link-secondary p-link-sm">Privacy</a>
        <a href="" class="p-link p-link-secondary p-link-sm">Security</a>
        <a href="" class="p-link p-link-secondary p-link-sm">Imprint</a>
    </div>
</footer>