<footer class="footer">
  <div class="footer-right">
    <span>© {{{year}}} ETAS GmbH</span>
    <span>
      <a href="https://www.etas.com/ww/en/terms-of-use-legal-notice/">Terms of Use / Legal Notice</a>
    </span>
    <span>
      <a href="https://www.etas.com/ww/en/data-protection-policy/">Privacy Policy</a>
    </span>
  </div>
</footer>
