<div class="card">
  <!-- Toolbar for title and search input -->
  <p-toolbar class="cui-dashboard-header-toolbar">
    <ng-template pTemplate="start">
      <h1 class="cui-dashboard-header-toolbar-content-left">Car list</h1>
    </ng-template>
    <ng-template pTemplate="end">
      <span class="cui-dashboard-header-toolbar-content-right p-input-icon-left">
        <i class="cui-icon-search"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="searchQuery"
          (keydown.enter)="handleSearch()"
          placeholder="Search by brand or model"
        />
      </span>
    </ng-template>
  </p-toolbar>

  <!-- DataTable for displaying car data -->
  <p-table #dt1
    [value]="cars"
    [loading]="loading"
    [paginator]="true"
    [rows]="rows"
    styleClass="p-datatable-striped"
  >
  <ng-template pTemplate="paginatorleft">
    <span class="p-paginator-rows-per-page-dropdown">Items per page:</span>
    <p-dropdown
      [options]="[5, 10, 25, 50]"
      [(ngModel)]="rows"
      (onChange)="dt1.rows = $event.value; dt1.first = 0; dt1.reset()">
    </p-dropdown>

    <span class="p-paginator-current-page-report">
      {{ (dt1.first ?? 0) + 1 }} - {{ ((dt1.first ?? 0) + (dt1.rows ?? 5)) }} of {{ dt1.totalRecords }} items
    </span>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="car">Brand <p-sortIcon field="car"></p-sortIcon></th>
      <th pSortableColumn="car_model">Model <p-sortIcon field="car_model"></p-sortIcon></th>
      <th pSortableColumn="car_color">Color <p-sortIcon field="car_color"></p-sortIcon></th>
      <th pSortableColumn="car_model_year">Year <p-sortIcon field="car_model_year"></p-sortIcon></th>
      <th pSortableColumn="car_vin">VIN <p-sortIcon field="car_vin"></p-sortIcon></th>
      <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
      <th pSortableColumn="availability">Availability <p-sortIcon field="availability"></p-sortIcon></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-car>
    <tr>
      <td>{{ car.id }}</td>
      <td>{{ car.car }}</td>
      <td>{{ car.car_model }}</td>
      <td>{{ car.car_color }}</td>
      <td>{{ car.car_model_year }}</td>
      <td>{{ car.car_vin }}</td>
      <td>{{ car.price }}</td>
      <td>
        <span>
          {{ car.availability ? 'Available' : 'Unavailable' }}
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>

</div>
