.cui-dashboard-statistic-divider {
  display: flex;
  align-items: flex-start;
  height: 8rem;
}

.cui-dashboard-header-toolbar {
  .p-toolbar {
      background: none;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
  }

  .cui-dashboard-header-toolbar-content-left {
      margin-bottom: var(--spacing-xs);
  }

  .cui-dashboard-header-toolbar-content-right {
      margin-bottom: var(--spacing-m);
  }
}

.cui-dashboard-static-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cui-dashboard-statistic-body {
  display: flex;
  width: 100%;
  height: 8rem;
  padding: var(--spacing-m);
  gap: var(--spacing-m);
  align-items: center;
  justify-content: center;
}

.cui-dashboard-static-value {
  font-size: var(--font-size-4xl);
  font-weight: bold;
}

.cui-dashboard-static-label {
  color: var(--theme-text-color);
  font-weight: bold;
  font-size: var(--text-extrabold-m);
}

.cui-dashboard-static-details {
  display: flex;
  height: 2.5rem;
  flex-direction: column;
  justify-content: center;

  .sub-label {
      color: var(--theme-text-color);
      font-size: var(--text-regular-xs);
  }
}

.cui-dashboard-card {
  .p-card {
      height: 36rem;
  }

  .p-card-content{
      height: 28.5rem;
      padding-top: var(--spacing-xs);
  }

  .p-card-footer{
      display: flex;
      flex-direction: row;
      justify-content: flex-end
  }

  .p-button{
      width: auto;
  }

}

.cui-dashboard-card-img {
  width: 100%;
  border-radius: var(--spacing-xs);
}

.cui-dashboard-chart {
  p-chart {
      div {
          height: calc(var(--menu-width) * 2);
      }
  }
}

.cui-icon-arrow-up-right {
  &::before {
      font-size: var(--font-size-5xl);
      color: var(--core-turquoise-700);
      content: "\e97f";
  }
}

.cui-icon-arrow-right {
  &::before {
      font-size: var(--font-size-5xl);
      color: var(--core-light-blue-700);
      content: "\e95c";
  }
}

.cui-icon-arrow-down-right {
  &::before {
      font-size: var(--font-size-5xl);
      color: var(--core-light-purple-700);
      content: "\e93c";
  }
}

.cui-icon-upload-simple {
  &::before {
      font-weight: 400;
      content: "\ed9e";
  }
}
