<div class="card">
    <p-toolbar class="cui-dashboard-header-toolbar">
        <div class="p-toolbar-group-start">
            <h1 class="cui-dashboard-header-toolbar-content-left mb-0">Product list</h1>
        </div>
        <div class="p-toolbar-group-end">
          <span class="p-input-icon-left cui-dashboard-header-toolbar-content-right">
            <i class="cui-icon-search"></i>
            <input pInputText placeholder="Search" [(ngModel)]="searchKeyword" (input)="onSearch($event)"  [value]="searchValue" />
          </span>
        </div>
    </p-toolbar>
    <div>
      <p-toolbar>
        <div class="p-toolbar-group-start">
            <div class="cui-table-overview-toolbar">
              <p-button text label="Import" icon="cui-icon-download-simple"></p-button>
              <p-button text label="Export" icon="cui-icon-upload-simple"></p-button>
            </div>
        </div>
        <div class="p-toolbar-group-end">
            <p-button (onClick)="showDialog()" label="Add item" icon="cui-icon-plus" />
        </div>
      </p-toolbar>
      <div class="cui-table-overview">
        <p-table #dt #dt1 [value]="products" [rows]="5" [paginator]="true" selectionMode="multiple" [loading]="loading" [globalFilterFields]="['name', 'manufacturingID', 'serialNumber', 'producer', 'priority']"
        [(selection)]="selectedProducts">
        <ng-template pTemplate="paginatorleft" class="cui-table-overview-paginator">
            <span class="p-paginator-rows-per-page-dropdown">
                Items per page:
            </span>
            <p-dropdown [options]="[5, 10, 25, 50]" [(ngModel)]="rows" [ngModel]="5"
                (onChange)="dt1.rows = $event.value; dt1.first = 0; dt1.reset()"></p-dropdown>
            <span class="p-paginator-current-page-report">
                {{ dt1.first ?? 0 }} - {{ (dt1.first ?? 0) + (dt1.rows ?? 0) }} of {{ dt1.totalRecords }} items
            </span>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <p-tableHeaderCheckbox #headerCheckboxBox (click)="updateHeaderCheckboxIndeterminateState()" />
                </th>
                <th pSortableColumn="name">
                    Product <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="manufacturingID">Manufacturing id<p-sortIcon field="manufacturingID" /></th>
                <th pSortableColumn="serialNumber">Serial number<p-sortIcon field="serialNumber" /></th>
                <th pSortableColumn="producer">Producer<p-sortIcon field="producer" /></th>
                <th pSortableColumn="priority">Priority<p-sortIcon field="priority" /></th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product" (click)="updateHeaderCheckboxIndeterminateState()" />
                </td>
                <td>
                    {{product.name}}
                </td>
                <td>
                    {{ product.manufacturingID }}
                </td>
                <td>
                    {{product.serialNumber}}
                </td>
                <td>
                    {{ product.producer }}
                </td>
                <td>
                    <p-tag [value]="product.priority" [severity]="getSeverity(product.priority)"></p-tag>
                </td>
                <td>
                    <div class="cui-datatable-action-col">
                        <p-button icon="cui-icon-trash" rounded text></p-button>
                        <p-button icon="cui-icon-pencil-simple" rounded text ></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
      </div>

    </div>

</div>

<p-dialog header="Add item" [(visible)]="visible" [modal]="true" [styleClass]="'cui-dialog'">
    <ng-template pTemplate="header">
        <div class="">
            <span class="font-bold white-space-nowrap">
                Add item
            </span>
        </div>
    </ng-template>
    <div class="field cui-mb-xl">
        <label class="p-form-label">Product</label>
        <input
            class="p-inputtext p-component"
            placeholder="Placeholder"
            data-pc-name="inputtext"
            data-pc-section="root">
    </div>
    <div class="field cui-mb-xl">
        <label class="p-form-label">Manufactoring id</label>
        <input
            class="p-inputtext p-component"
            placeholder="Placeholder"
            data-pc-name="inputtext"
            data-pc-section="root">
    </div>
    <div class="field cui-mb-xl">
        <label class="p-form-label">Serial number</label>
        <input
            class="p-inputtext p-component"
            placeholder="Placeholder"
            data-pc-name="inputtext"
            data-pc-section="root">
    </div>
    <div class="field cui-mb-xl">
        <label class="p-form-label">Category</label>
        <p-dropdown
        [options]="options1"
        [(ngModel)]="selectedOption1"
        optionLabel="name"
        placeholder="Choose an option"
        appendTo="body"
         />
    </div>
    <div class="field cui-mb-xl">
        <label class="p-form-label">Priority</label>
        <p-dropdown
        [options]="options2"
        [(ngModel)]="selectedOption2"
        optionLabel="name"
        placeholder="Choose an option"
        appendTo="body"
         />
    </div>
    <ng-template pTemplate="footer">
        <p-button label="Cancel" class="cui-mr-xs" severity="secondary" (onClick)="visible = false"></p-button>
        <p-button label="Done" (onClick)="visible = false" ></p-button>
    </ng-template>
</p-dialog>
