.cui-dialog {
    width: 25%;

    .p-dialog-header-close {
        display: none;
    }

    .p-inputtext, 
    .p-dropdown {
        width: 100%;
    }

    .p-form-group {
        margin-top: 5%;
    }
}


.cui-table-overview-toolbar {
    display: flex;
    gap: var(--spacing-s);
}

.cui-table-overview {
    margin-top: var(--spacing-xxl);

}

.cui-customize-button {
    color: var(--button-text-color);
    border: var(--button-plain-border);
}

.cui-icon-table {
    &::before {
        content: "\ed48";
    }
}

.cui-icon-magnifying-glass {
    &::before {
        font-weight: 400;
        content: "\ebdd";
    }
}

.cui-icon-trash {
    &::before {
        font-weight: 400;
        content: "\ed8a";
    }
}

.cui-icon-pencil-simple {
    &::before {
        font-weight: 400;
        content: "\ec59";
    }
}

.cui-icon-download-simple {
    &::before {
        font-weight: 400;
        content: "\eab6";
    }
}

.cui-icon-upload-simple {
    &::before {
        font-weight: 400;
        content: "\ed9e";
    }
}

.cui-table-overview-menubar {
    .p-menubar {
        background: none;
        border-radius: 0;
        border: none;

        .p-menuitem-link {
            .p-menuitem-text {
                color: var(--tag-background);
            }

            .p-menuitem-icon {
                color: var(--tag-background);
            }
        }
    }

    .p-menuitem {
        background: none;
        color: var(--tag-background);
    }
}
