<p-toolbar class="cui-dashboard-header-toolbar ">
  <div class="p-toolbar-group-start">
    <h1 class="cui-dashboard-header-toolbar-content-left mb-0">Dashboard</h1>
  </div>
  <div class="p-toolbar-group-end">
    <p-button class="cui-dashboard-header-toolbar-content-right"  label="Configure" severity="secondary" icon="cui-icon-settings" />
  </div>
</p-toolbar>

<p-panel header="Statistics" toggleable="true">
  <div class="cui-dashboard-static-container">
    <ng-container *ngFor="let item of statistics; let i = index">
      <div class="cui-dashboard-statistic-body">
        <i [ngClass]="item.icon"></i>
        <span class="cui-dashboard-static-value">{{ item.value }}</span>
        <div class="cui-dashboard-static-details">
          <span class="cui-dashboard-static-label">{{ item.title }}</span>
          <span class="sub-label">{{ item.description }}</span>
        </div>
      </div>

      <!-- Divider, added between items except the last one -->
      <p-divider layout="vertical" *ngIf="i < statistics.length - 1" class="cui-dashboard-statistic-divider"></p-divider>
    </ng-container>
  </div>
</p-panel>
<div class="cui-grid cui-pl-0 cui-pr-0">
  <!-- Example Cards -->
  <div class="xl-col-3 l-col-4 m-col-8 col-4">
    <div class="cui-dashboard-card">
      <p-card header="What’s new">
        <img class="cui-dashboard-card-img" src="./assets/cui-demo/images/ETAS_SEC_Keyvisual_Product_CycurIDS.png" alt="ETAS Keyvisual" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse.
        </p>
        <ng-template pTemplate="footer">
          <div>
            <p-button label="Learn more" severity="secondary"
              styleClass="w-full"></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="xl-col-3 l-col-4 m-col-8 col-4">
    <div class="cui-dashboard-card">
      <p-card header="Top categories">
        <div class="cui-dashboard-chart">
          <p-chart type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>            <ng-template pTemplate="footer">
          <div>
            <p-button label="Export" icon="cui-icon-upload-simple"></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>


  <div class="xl-col-3 l-col-4 m-col-8 col-4">
    <div class="cui-dashboard-card">
      <p-card header="Products status">
          <p-table [value]="products" responsiveLayout="stack" [tableStyle]="{'min-width': '22rem'}">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th>Product</th>
                <th>Status</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-columns="columns">
              <tr>
                <td>
                  <span class="p-column-title">Product</span>{{ product.name }}
                </td>
                <td>
                  <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag>
                </td>
              </tr>
            </ng-template>
          </p-table>
      </p-card>
    </div>
  </div>

  <div class="xl-col-3 l-col-4 m-col-8 col-4">
    <div class="cui-dashboard-card">
      <p-card header="Top products" class="cui-dashboard-card">
        <div class="cui-dashboard-chart">
            <p-chart type="doughnut" [data]="doughnutChartData" [options]="doughnutChartOptions" class="cui-dashboard-chart"></p-chart>
        </div>
          <ng-template pTemplate="footer">
          <div class="mt-1">
            <p-button label="Export" icon="cui-icon-upload-simple"></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
