<div style="border: 1px solid red; display: block; height: 100%; overflow-y:scroll">
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>

    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p><p>Main content</p>
    <p>Main content</p>

    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p>
    <p>Main content</p><p>Main content</p>


</div>
