:root {
  --max-page-width: 100%;
  --side-navigation-width-closed: calc(
    3.5rem + 1px
  );
  --side-navigation-width-opened: calc(16rem + 1px);
  --header-height: 3.5rem;
  --footer-height: 2.75rem;
  --z-index-base: 0;
  --z-index-background-image: 5;
  --z-index-negative: -1;
  --z-index-content: 10;
  --z-index-dropdown: 20;
  --z-index-sticky-header: 120;
  --z-index-navbar: 100;
  --z-index-sidebar: 110;
  --z-index-tooltip: 150;
  --z-index-overlay: 200;
  --z-index-backdrop: 210;
  --z-index-popover: 220;
  --z-index-toast: 300;
  --z-index-alert: 350;
  --z-index-critical-alert: 400;
  --z-index-fullscreen-modal: 500;
  --z-index-header: 110;
  --z-index-footer: 90;
  --z-index-dialog: 210;
  --z-index-modal: 220;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--theme-background-color);
  color: var(--theme-text-color);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.cui-page-wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: var(--max-page-width);
}

.cui-header {
  height: var(--header-height);
  max-height: var(--header-height);
  width: 100%;
  background: var(--gradient-horizontal);
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  font: var(--text-semibold-s);
  line-height: 1;
  vertical-align: middle;
}
.cui-header a,
.cui-header a:hover {
  text-decoration: none;
}
.cui-header .p-button {
  background-color: var(--header-button-background);
  border: none;
  color: var(--header-button-color);
  transition: background-color 0.2s ease;
}
.cui-header .p-button:not(.p-disabled):hover {
  background-color: var(--header-button-hover-background);
  color: var(--header-button-hover-color);
}
.cui-header .p-button:active {
  background-color: var(--header-button-active-background);
  color: var(--header-button-active-color);
}
.cui-header .p-button.p-disabled {
  background: none;
  border: none;
  color: var(--core-gray-600);
}
.cui-header .p-button.p-button-icon-only {
  height: 2rem;
  width: 2rem;
}
.cui-header:has(.cui-header-actions-alt-menu) .cui-header-actions-alt-menu-toggler {
  background-color: var(--header-button-hover-background);
  color: var(--header-button-hover-color);
}
.cui-header:has(.cui-header-actions-alt-menu) .cui-header-actions-alt-menu-toggler .p-button-icon::before {
  content: "\eddb";
  font-weight: 400;
}
.cui-header:has(.cui-header-actions-alt-menu) .cui-header-avatar-wrapper {
  display: flex;
}
.cui-header-menu-button {
  margin-right: 1rem;
  display: block;
}
.cui-header-menu-button .p-button .p-button-icon {
  font-size: 1.25rem;
}
@media screen and (min-width: 1025px) {
  .cui-header-menu-button {
    display: none;
  }
}
.cui-header-logo {
  margin-right: 1rem;
}
.cui-header-logo img {
  height: 1rem;
  width: auto;
  display: block;
}
.cui-header-app-name {
  font: var(--text-regular-s);
  margin-right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  color: var(--core-surface-0);
}
@media screen and (max-width: 375px) {
  .cui-header-app-name {
    display: none;
  }
}
.cui-header .p-divider.p-divider-vertical {
  margin: 0 0.5rem 0 0;
}
.cui-header .p-divider.p-divider-vertical::before {
  height: 2rem;
  top: unset;
  border-color: var(--core-surface-0);
  opacity: 0.32;
}
.cui-header-tools .p-button {
  height: calc(var(--global-icon-size-large) + var(--button-padding-top) + var(--button-padding-bottom));
}
.cui-header-tools-wrapper {
  display: flex;
  position: relative;
}
.cui-header-tools-item {
  display: none;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .cui-header-tools-item {
    display: inline-flex;
  }
}
.cui-header-tools-item .p-tieredmenu {
  top: 38px !important;
  left: 0 !important;
}
.cui-header-tools-item:has(.p-tieredmenu) .cui-header-tools-menu-toggler {
  background-color: var(--header-button-hover-background);
  color: var(--header-button-hover-color);
}
.cui-header-tools-item:has(.p-tieredmenu) .cui-header-tools-menu-toggler .p-button-icon::before {
  content: "\eddb";
}
.cui-header-tools-more {
  display: inline-flex;
}
.cui-header-tools-more:has(.cui-header-tools-alt) .cui-header-tools-alt-menu-toggler {
  background-color: var(--header-button-hover-background);
  color: var(--header-button-hover-color);
}
.cui-header-tools-more:has(.cui-header-tools-alt) .cui-header-tools-alt-menu-toggler .p-button-icon::before {
  content: "\eddb";
}
@media screen and (min-width: 1025px) {
  .cui-header-tools-more {
    display: none;
  }
}
.cui-header-actions {
  display: none;
  gap: 0.5rem;
  margin-left: auto;
  /* weird, but custom element p-tieredmenu  consumes white-space even if its width is set to 0 by PrimeNG default => hide it */
}
.cui-header-actions p-tieredmenu {
  display: none;
}
.cui-header-actions-alt {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
}
@media screen and (min-width: 1025px) {
  .cui-header-actions {
    display: flex;
  }
  .cui-header-actions-alt {
    display: none;
  }
}
.cui-header-actions-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cui-header-actions-item {
  margin-left: var(--spacing-xxs);
}
.cui-header-actions-item .cui-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0;
  font-size: 1.25rem;
}
.cui-header-actions-item .cui-icon:focus, .cui-header-actions-item .cui-icon:hover {
  background: var(--core-surface-0);
  color: var(--core-blue-900);
}
.cui-header-alt-menu {
  padding-top: var(--spacing-xxl);
  padding-bottom: 5.25rem;
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: var(--text-semibold-m);
  background-color: var(--menu-background);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}
.cui-header-alt-menu a {
  color: var(--menuitem-color);
}
.cui-header-alt-menu .p-menuitem-link {
  position: relative;
  padding: var(--menuitem-padding-top) var(--menuitem-padding-right) var(--menuitem-padding-bottom) var(--menuitem-padding-left);
}
.cui-header-alt-menu .p-menuitem-link .p-icon-wrapper {
  order: 1;
}
.cui-header-alt-menu .p-menuitem-icon {
  margin: 0 var(--spacing-xs) 0 0;
}
.cui-header-alt-menu .p-menuitem-text {
  line-height: var(--line-height-m) !important;
  flex: 1;
}
.cui-header-alt-menu .p-submenu-list {
  padding-left: calc(var(--global-icon-size-large) + 0.5rem) !important;
}
.cui-header-alt-menu .p-panelmenu-header {
  color: var(--menuitem-color);
  border-radius: var(--menuitem-border-radius);
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  -webkit-user-select: none;
  user-select: none;
  font-weight: var(--text-semibold-m);
}
.cui-header-alt-menu .p-panelmenu-header:not(.p-disabled):hover {
  background: var(--menuitem-hover-background);
}
.cui-header-alt-menu .p-panelmenu-header-content {
  position: relative;
  padding: var(--menuitem-padding-top) var(--menuitem-padding-right) var(--menuitem-padding-bottom) var(--menuitem-padding-left);
}
.cui-header-alt-menu .p-panelmenu-header-link .p-submenu-icon,
.cui-header-alt-menu .p-panelmenu-header-link .p-icon-wrapper, .cui-header-alt-menu .p-panelmenu-header-action .p-submenu-icon,
.cui-header-alt-menu .p-panelmenu-header-action .p-icon-wrapper {
  display: none;
}
.cui-header-alt-menu .p-panelmenu-header-link:has(svg)::after, .cui-header-alt-menu .p-panelmenu-header-action:has(svg)::after {
  color: var(--menuitem-submenu-icon-color);
  font-family: "Phosphor";
  font-size: var(--global-icon-size-medium);
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  order: 1;
  transition: transform 0.2s ease;
  content: "\ea00";
}
.cui-header-alt-menu .p-panelmenu-header[aria-expanded=true] .p-panelmenu-header-link::after,
.cui-header-alt-menu .p-panelmenu-header[aria-expanded=true] .p-panelmenu-header-action::after {
  transform: rotate(90deg);
}
.cui-header-alt-menu .p-panelmenu-header.p-disabled .p-panelmenu-header-link {
  background: none;
  border: none;
  color: var(--link-primary-disabled-color);
}
.cui-header-alt-menu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-submenu-icon {
  display: none;
}
.cui-header-alt-menu .p-panelmenu-content .p-menuitem .p-menuitem-link::after {
  color: var(--menuitem-submenu-icon-color);
  font-family: "Phosphor";
  font-size: var(--global-icon-size-medium);
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  order: 1;
}
.cui-header-alt-menu .p-panelmenu-content .p-menuitem .p-menuitem-link.p-disabled .p-menuitem-icon,
.cui-header-alt-menu .p-panelmenu-content .p-menuitem .p-menuitem-link.p-disabled .p-menuitem-text {
  background: none;
  border: none;
  color: var(--link-primary-disabled-color);
}
.cui-header-alt-menu .p-panelmenu-content .p-menuitem[aria-expanded=false] > .p-menuitem-content > .p-menuitem-link::after, .cui-header-alt-menu .p-panelmenu-content .p-menuitem[aria-expanded=true] > .p-menuitem-content > .p-menuitem-link::after {
  transition: transform 0.2s ease;
  content: "\ea00";
}
.cui-header-alt-menu .p-panelmenu-content .p-menuitem[aria-expanded=true] > .p-menuitem-content > .p-menuitem-link::after {
  transform: rotate(90deg);
}
.cui-header-alt-menu .p-panelmenu-content:has(.p-menuitem-icon) > ul > .p-submenu-list:not(:has(.p-menuitem-icon)) .p-menuitem-link,
.cui-header-alt-menu .p-panelmenu-content:has(.p-menuitem-icon) .p-menuitem:not(:has(.p-menuitem-icon)) .p-menuitem-link {
  padding-left: calc(var(--menuitem-padding-left) + var(--global-icon-size-large) + 0.5rem);
}
.cui-header-alt-menu .p-panelmenu-panel {
  display: block;
  height: auto;
  max-width: 400px;
  text-align: left;
  width: 100%;
}
.cui-header-alt-menu .p-panelmenu-panel:not(:has(.p-toggleable-content)) .p-panelmenu-header-link::before,
.cui-header-alt-menu .p-panelmenu-panel:not(:has(.p-toggleable-content)) .p-panelmenu-header-action::before {
  display: none;
}
.cui-header-avatar-wrapper {
  margin: 0;
  padding: var(--spacing-m);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--core-surface-50);
  background: var(--footer-background);
  border-top: 1px solid var(--core-gray-50);
  border-top: var(--footer-border);
  color: var(--theme-text-color);
  display: none;
}
.cui-header-avatar-image-wrapper {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1px var(--core-surface-0);
  border-radius: 50%;
  margin-left: auto;
  color: var(--core-surface-0);
  overflow: hidden;
}
.cui-header-avatar-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--core-turquoise-900);
  z-index: var(--z-index-negative);
}
.cui-header-avatar-initials {
  font: var(--text-semibold-xs);
  color: var(--core-surface-0);
}
.cui-header-avatar-data-wrapper {
  flex-grow: 2;
  margin-left: var(--spacing-m);
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  font: var(--text-regular-xs);
}
.cui-header-avatar-data-wrapper p {
  margin: 0;
  font: inherit;
}
.cui-header-avatar-fullname {
  font: var(--text-semibold-m);
}
@media screen and (min-width: 1025px) {
  .cui-header-avatar-wrapper {
    margin-left: var(--spacing-xxl);
    position: relative;
    padding: 0;
    background: transparent;
    width: auto;
    border: none;
    display: block;
  }
  .cui-header-avatar-data-wrapper {
    display: none;
  }
}

.cui-icon-more-menu::before {
  font-weight: 700;
  content: "\eab4";
}

.cui-icon-dark-mode-toggle::before {
  content: "\ebfe";
}

html[data-theme=dark] .cui-icon-dark-mode-toggle::before {
  content: "\ed3e";
}

.p-tieredmenu:not(:has(li)) {
  display: none;
}

.cui-side-navigation {
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 0.2s ease;
  padding: 1.5rem 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: var(--side-navigation-background);
  border-right: var(--side-navigation-border);
  width: 100%;
  height: calc(100% - var(--header-height));
}
@media screen and (min-width: 1025px) {
  .cui-side-navigation {
    align-items: unset;
  }
}
.cui-side-navigation .cui-side-navigation-body > :not(:last-child) {
  margin-bottom: 0.5rem;
}
.cui-side-navigation .cui-side-navigation-body .cui-side-navigation-menu-dropdown .cui-side-navigation-item > a {
  padding-left: 2.75rem;
}
.cui-side-navigation .cui-side-navigation-body .cui-side-navigation-menu-dropdown .cui-side-navigation-item .cui-side-navigation-item-icon {
  display: none;
}
.cui-side-navigation .cui-side-navigation-body .cui-side-navigation-menu-dropdown .cui-side-navigation-menu-toggle {
  padding-left: 2.75rem;
}
.cui-side-navigation .cui-side-navigation-body .cui-side-navigation-menu-dropdown .cui-side-navigation-menu-toggle .cui-side-navigation-menu-toggle-icon {
  display: inline;
}
.cui-side-navigation .cui-side-navigation-body .cui-side-navigation-menu-dropdown .cui-side-navigation-menu-dropdown .cui-side-navigation-menu-toggle {
  padding-left: 3.75rem;
}
.cui-side-navigation .cui-side-navigation-body .cui-side-navigation-menu-dropdown .cui-side-navigation-menu-dropdown .cui-side-navigation-menu-toggle .cui-side-navigation-menu-toggle-icon {
  display: inline;
}
.cui-side-navigation .cui-side-navigation-body .cui-side-navigation-menu-dropdown .cui-side-navigation-menu-dropdown .cui-side-navigation-item > a {
  padding-left: 3.75rem;
}
.cui-side-navigation .cui-side-navigation-body .cui-side-navigation-menu-dropdown .cui-side-navigation-menu-dropdown .cui-side-navigation-item .cui-side-navigation-item-icon {
  display: none;
}
.cui-side-navigation-toggle-wrapper {
  justify-content: end;
  margin-bottom: var(--spacing-xxl);
  display: none;
}
@media screen and (min-width: 1025px) {
  .cui-side-navigation-toggle-wrapper {
    display: flex;
  }
}
.cui-side-navigation-toggle-wrapper .p-button {
  background: none;
  border: none;
  color: var(--side-navigation-menuitem-color);
  transition: rotate 0.4s ease;
}
.cui-side-navigation-toggle-wrapper .p-button:focus, .cui-side-navigation-toggle-wrapper .p-button:enabled:hover {
  color: var(--side-navigation-menuitem-hover-color);
  background-color: var(--side-navigation-menuitem-hover-background);
  border: none;
}
.cui-side-navigation-toggle-wrapper .p-button .cui-icon {
  font-size: 1.5rem;
}
.cui-side-navigation-body {
  width: 100%;
  max-width: 21.75rem;
  transition: all 0.2s ease;
  overflow-y: auto;
  overflow-x: hidden;
}
.cui-side-navigation-item a {
  display: flex;
  align-items: center;
  padding: 0 0.625rem;
  height: 2.5rem;
  text-decoration: none;
  border-radius: 1.25rem;
  transition: padding 0.2s ease;
  cursor: pointer;
  background-color: var(--side-navigation-menuitem-background);
  color: var(--side-navigation-menuitem-color);
}
.cui-side-navigation-item a:visited {
  color: var(--side-navigation-menuitem-color);
}
.cui-side-navigation-item a:hover, .cui-side-navigation-item a:focus {
  color: var(--side-navigation-menuitem-hover-color);
  background-color: var(--side-navigation-menuitem-hover-background);
}
.cui-side-navigation-item a:active {
  color: var(--side-navigation-menuitem-active-color);
  background-color: var(--side-navigation-menuitem-active-background);
  outline: none;
}
.cui-side-navigation-item a:focus {
  outline: none;
}
.cui-side-navigation-item span {
  font: var(--text-semibold-s);
  transition: opacity 0.2s ease;
  transition-delay: 0.1s;
  opacity: 0;
}
.cui-side-navigation-item i:first-child {
  font-size: 1.25rem;
  margin: 0 0.5rem 0 0;
}
.cui-side-navigation-item-active a,
.cui-side-navigation-item-active a:visited {
  background-color: var(--side-navigation-menuitem-active-background);
  color: var(--side-navigation-menuitem-active-color);
}
.cui-side-navigation-item-disabled a,
.cui-side-navigation-item-disabled a:visited {
  background: none;
  border: none;
  color: var(--link-primary-disabled-color);
  pointer-events: none;
  cursor: not-allowed;
}
.cui-side-navigation-item-disabled:hover {
  background: none;
}
.cui-side-navigation-menu:has(.cui-side-navigation-item-active) > .cui-side-navigation-menu-toggle {
  background-color: var(--side-navigation-menuitem-active-background);
  color: var(--side-navigation-menuitem-active-color);
}
.cui-side-navigation-menu:has(.cui-side-navigation-item-active) > .cui-side-navigation-menu-toggle:hover, .cui-side-navigation-menu:has(.cui-side-navigation-item-active) > .cui-side-navigation-menu-toggle:focus {
  background-color: var(--side-navigation-menuitem-hover-background);
  color: var(--side-navigation-menuitem-hover-color);
}
.cui-side-navigation-menu:has(.cui-side-navigation-item-active) > .cui-side-navigation-menu-toggle:active {
  background-color: var(--side-navigation-menuitem-active-background);
  color: var(--side-navigation-menuitem-active-color);
}
.cui-side-navigation-menu-toggle {
  width: 100%;
  padding: 0 0.625rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 1.25rem;
  transition: padding 0.2s ease;
  cursor: pointer;
  background-color: var(--side-navigation-menuitem-background);
  color: var(--side-navigation-menuitem-color);
}
.cui-side-navigation-menu-toggle:hover, .cui-side-navigation-menu-toggle:focus {
  background-color: var(--side-navigation-menuitem-hover-background);
  color: var(--side-navigation-menuitem-hover-color);
}
.cui-side-navigation-menu-toggle:active {
  background-color: var(--side-navigation-menuitem-active-background);
  color: var(--side-navigation-menuitem-active-color);
}
.cui-side-navigation-menu-toggle:focus {
  outline: none;
}
.cui-side-navigation-menu-toggle-title {
  font: var(--text-semibold-s);
  transition: opacity 0.2s ease;
  transition-delay: 0.1s;
  opacity: 0;
}
.cui-side-navigation-menu-toggle-icon {
  font-size: 1.25rem;
  margin: 0 0.5rem 0 0;
}
.cui-side-navigation-menu-toggle-expand-icon {
  font-size: 1rem;
  margin-left: auto;
  transition: transform 0.2s ease;
}
.cui-side-navigation-menu-toggle-expand-icon[aria-expanded=true] {
  transform: rotate(180deg);
}
@keyframes fade-out {
  from {
    opacity: 1;
    grid-template-rows: 1fr;
  }
  to {
    opacity: 0;
    grid-template-rows: 0fr;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cui-side-navigation-menu-dropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 200ms ease;
}
.cui-side-navigation-menu-dropdown > ul {
  overflow: hidden;
  display: none;
  opacity: 0;
  transition: opacity 200ms ease;
  transition-delay: 2000ms;
}
.cui-side-navigation-menu-dropdown[aria-hidden=false] {
  grid-template-rows: 1fr;
}
.cui-side-navigation-menu-dropdown[aria-hidden=false] > ul {
  opacity: 1;
  display: block;
}

.cui-side-navigation-open .cui-layout-advanced .cui-side-navigation-item a,
.cui-side-navigation-open .cui-layout-standard .cui-side-navigation-item a,
.cui-side-navigation-pinned .cui-layout-advanced .cui-side-navigation-item a,
.cui-side-navigation-pinned .cui-layout-standard .cui-side-navigation-item a {
  padding: 0 1rem;
}
.cui-side-navigation-open .cui-layout-advanced .cui-side-navigation-item a span,
.cui-side-navigation-open .cui-layout-standard .cui-side-navigation-item a span,
.cui-side-navigation-pinned .cui-layout-advanced .cui-side-navigation-item a span,
.cui-side-navigation-pinned .cui-layout-standard .cui-side-navigation-item a span {
  opacity: 1;
}
.cui-side-navigation-open .cui-layout-advanced .cui-side-navigation-menu:has(.cui-side-navigation-item-active) .cui-side-navigation-menu-toggle:not(:hover):not(:focus),
.cui-side-navigation-open .cui-layout-standard .cui-side-navigation-menu:has(.cui-side-navigation-item-active) .cui-side-navigation-menu-toggle:not(:hover):not(:focus),
.cui-side-navigation-pinned .cui-layout-advanced .cui-side-navigation-menu:has(.cui-side-navigation-item-active) .cui-side-navigation-menu-toggle:not(:hover):not(:focus),
.cui-side-navigation-pinned .cui-layout-standard .cui-side-navigation-menu:has(.cui-side-navigation-item-active) .cui-side-navigation-menu-toggle:not(:hover):not(:focus) {
  background-color: transparent;
  color: var(--side-navigation-menuitem-color);
}
.cui-side-navigation-open .cui-layout-advanced .cui-side-navigation-menu-toggle,
.cui-side-navigation-open .cui-layout-standard .cui-side-navigation-menu-toggle,
.cui-side-navigation-pinned .cui-layout-advanced .cui-side-navigation-menu-toggle,
.cui-side-navigation-pinned .cui-layout-standard .cui-side-navigation-menu-toggle {
  padding: 0 1rem;
}
.cui-side-navigation-open .cui-layout-advanced .cui-side-navigation-menu-toggle-title,
.cui-side-navigation-open .cui-layout-standard .cui-side-navigation-menu-toggle-title,
.cui-side-navigation-pinned .cui-layout-advanced .cui-side-navigation-menu-toggle-title,
.cui-side-navigation-pinned .cui-layout-standard .cui-side-navigation-menu-toggle-title {
  opacity: 1;
}

.cui-side-navigation-open .cui-layout-advanced .cui-side-navigation,
.cui-side-navigation-open .cui-layout-standard .cui-side-navigation,
.cui-side-navigation-pinned.cui-side-navigation-open .cui-layout-advanced .cui-side-navigation,
.cui-side-navigation-pinned.cui-side-navigation-open .cui-layout-standard .cui-side-navigation {
  transform: translateX(0);
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .cui-side-navigation-open .cui-layout-advanced .cui-side-navigation,
  .cui-side-navigation-open .cui-layout-standard .cui-side-navigation,
  .cui-side-navigation-pinned.cui-side-navigation-open .cui-layout-advanced .cui-side-navigation,
  .cui-side-navigation-pinned.cui-side-navigation-open .cui-layout-standard .cui-side-navigation {
    width: var(--side-navigation-width-opened);
  }
}

.cui-side-navigation-pinned .cui-layout-advanced .cui-side-navigation,
.cui-side-navigation-pinned .cui-layout-standard .cui-side-navigation {
  transform: translateX(calc(var(--side-navigation-width-closed) * -1));
  width: 0;
}
@media screen and (min-width: 1025px) {
  .cui-side-navigation-pinned .cui-layout-advanced .cui-side-navigation,
  .cui-side-navigation-pinned .cui-layout-standard .cui-side-navigation {
    transform: translateX(0);
    width: var(--side-navigation-width-opened);
  }
}

.cui-side-navigation-pinned .cui-side-navigation-toggle-wrapper .p-button {
  rotate: 180deg;
}
.cui-side-navigation-pinned .cui-content {
  transition: margin-left 0.4s ease;
}
@media screen and (min-width: 1025px) {
  .cui-side-navigation-pinned .cui-content {
    margin-left: var(--side-navigation-width-opened);
  }
}
.cui-side-navigation-pinned .cui-footer {
  transition: margin-left 0.4s ease;
}
@media screen and (min-width: 1025px) {
  .cui-side-navigation-pinned .cui-footer {
    margin-left: var(--side-navigation-width-opened);
  }
}

.cui-side-navigation-open .cui-header-menu-button-toggle .p-button-icon {
  line-height: 1;
}
.cui-side-navigation-open .cui-header-menu-button-toggle .p-button-icon::before {
  font-family: "Phosphor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\eddb";
}

.cui-content {
  position: relative;
  height: 100%;
  margin-left: 0;
  margin-top: var(--header-height);
  padding: 1.5rem;
  flex-grow: 1;
}
@media screen and (min-width: 1025px) {
  .cui-content {
    margin-left: var(--side-navigation-width-closed);
  }
}

.cui-footer {
  transition: all 0.2s ease;
  align-items: center;
  background-color: var(--footer-background);
  border-top: var(--footer-border);
  color: var(--theme-text-color);
  display: flex;
  flex-wrap: wrap;
  font: var(--text-regular-xs);
  gap: 1rem;
  justify-content: space-between;
  min-height: var(--footer-height);
  padding: 0.75rem 1.5rem;
}
.cui-footer-right, .cui-footer-left {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.cui-footer-right .p-link, .cui-footer-left .p-link {
  font: var(--text-semibold-xs);
}
.cui-footer-right .p-link:visited, .cui-footer-left .p-link:visited {
  color: inherit;
}
.cui-footer-right .p-link i, .cui-footer-left .p-link i {
  margin-left: 0.25rem;
}
.cui-footer-right .p-link i::before, .cui-footer-left .p-link i::before {
  font-size: 0.75rem;
}
.cui-footer-left {
  gap: 1rem;
}
.cui-footer-right {
  gap: 0.5rem 1rem;
}

@media screen and (max-width: 667px) {
  .cui-layout-advanced .cui-footer {
    z-index: var(--z-index-footer);
  }
}
.cui-layout-standard {
  min-height: 100vh;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.cui-layout-standard:not(:has(.cui-side-navigation)) .cui-content {
  margin-left: 0;
}
.cui-layout-standard:not(:has(.cui-side-navigation)) .cui-footer {
  margin-left: 0;
}
.cui-layout-standard:not(:has(.cui-side-navigation)) .cui-header-menu-button {
  display: none;
}
.cui-layout-standard .cui-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
}
@media screen and (min-width: 1025px) {
  .cui-layout-standard .cui-footer {
    margin-left: var(--side-navigation-width-closed);
  }
}
.cui-layout-standard .cui-side-navigation {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  transform: translateX(calc(var(--side-navigation-width-closed) * -1));
  transition: all 0.2s ease;
  min-width: var(--side-navigation-width-closed);
  width: var(--side-navigation-width-closed);
  z-index: var(--z-index-sidebar);
}
@media screen and (min-width: 1025px) {
  .cui-layout-standard .cui-side-navigation {
    transform: translateX(0);
  }
}

.cui-side-navigation-pinned .cui-side-navigation-toggle-wrapper .p-button {
  rotate: 180deg;
}
.cui-side-navigation-pinned .cui-content {
  transition: margin-left 0.4s ease;
}
@media screen and (min-width: 1025px) {
  .cui-side-navigation-pinned .cui-content {
    margin-left: var(--side-navigation-width-opened);
  }
}
.cui-side-navigation-pinned .cui-footer {
  transition: margin-left 0.4s ease;
}
@media screen and (min-width: 1025px) {
  .cui-side-navigation-pinned .cui-footer {
    margin-left: var(--side-navigation-width-opened);
  }
}

.cui-layout-advanced {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.cui-layout-advanced .cui-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
}
.cui-layout-advanced .cui-footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-footer);
}
.cui-layout-advanced .cui-content {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow: auto;
}
.cui-layout-advanced .cui-side-navigation {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  transform: translateX(calc(var(--side-navigation-width-closed) * -1));
  transition: all 0.2s ease;
  min-width: var(--side-navigation-width-closed);
  width: var(--side-navigation-width-closed);
  z-index: var(--z-index-sidebar);
}
@media screen and (min-width: 1025px) {
  .cui-layout-advanced .cui-side-navigation {
    transform: translateX(0);
  }
}
.cui-layout-advanced.cui-side-navigation-pinned {
  overflow: hidden;
}
@media screen and (min-width: 1025px) {
  .cui-layout-advanced.cui-side-navigation-pinned {
    overflow: auto;
  }
}
.cui-layout-advanced.cui-side-navigation-pinned .cui-side-navigation {
  transform: translateX(0);
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .cui-layout-advanced.cui-side-navigation-pinned .cui-side-navigation {
    width: var(--side-navigation-width-opened);
  }
}
.cui-layout-advanced.cui-side-navigation-pinned .cui-side-navigation-item a {
  padding: 0 1rem;
}
.cui-layout-advanced.cui-side-navigation-pinned .cui-side-navigation-item a span {
  opacity: 1;
}
.cui-layout-advanced.cui-side-navigation-pinned .cui-side-navigation-menu:has(.cui-side-navigation-item-active) .cui-side-navigation-menu-toggle:not(:hover):not(:focus) {
  background-color: transparent;
  color: var(--side-navigation-menuitem-color);
}
.cui-layout-advanced.cui-side-navigation-pinned .cui-side-navigation-menu-toggle {
  padding: 0 1rem;
}
.cui-layout-advanced.cui-side-navigation-pinned .cui-side-navigation-menu-toggle-title {
  opacity: 1;
}
.cui-layout-advanced.cui-side-navigation-pinned .cui-side-navigation-toggle-wrapper .p-button {
  rotate: 180deg;
}
.cui-layout-advanced.cui-side-navigation-pinned .cui-content {
  transition: margin-left 0.4s ease;
}
@media screen and (min-width: 1025px) {
  .cui-layout-advanced.cui-side-navigation-pinned .cui-content {
    margin-left: var(--side-navigation-width-opened);
  }
}
