<header class="cui-header">
  <div class="cui-header-menu-button" *ngIf="showSidebarButton">
    <p-button
      icon="cui-icon-list"
      aria-label="Toggle navigation"
      (onClick)="toggleSideNavigation($event)"
      styleClass="cui-header-menu-button-toggle"
    ></p-button>
  </div>
  <div class="cui-header-logo">
    <a href="https://www.etas.com" rel="noopener noreferrer">
      <img src="/assets/images/etas-logo.svg" alt="ETAS logo" />
    </a>
  </div>
  <div class="cui-header-app-name">{{ applicationName }}</div>
  <ng-container *ngIf="headerToolItems.length">
    <p-divider layout="vertical"></p-divider>
    <nav class="cui-header-tools">
      <ul class="cui-header-tools-wrapper">
        <ng-container
          *ngFor="let headerToolItem of headerToolItems; let i = index"
        >
          <li class="cui-header-tools-item">
            <p-button
              styleClass="cui-header-tools-menu-toggler"
              icon="cui-icon-caret-down"
              iconPos="right"
              label="{{ headerToolItem.label }}"
              attr.aria-label="{{ headerToolItem.label }}"
              (onClick)="headerToolMenu.toggle($event)"
            ></p-button>
            <p-tieredMenu
              [model]="headerToolItem.items"
              [popup]="true"
              breakpoint="1040px"
             
              #headerToolMenu
            ></p-tieredMenu>
          </li>
        </ng-container>
        <li class="cui-header-tools-more">
          <p-button
            styleClass="cui-header-tools-alt-menu-toggler"
            icon="cui-icon-caret-down"
            iconPos="right"
            label="More"
            aria-label="More tools"
            (onClick)="toggleAltHeaderTools($event)"
          ></p-button>
          <p-panelMenu
            *ngIf="altHeaderToolsActive"
            [model]="headerToolItems"
            styleClass="cui-header-tools-alt cui-header-alt-menu"
          ></p-panelMenu>
        </li>
      </ul>
    </nav>
  </ng-container>

  <div class="cui-header-actions">
    <!-- add search bar here -->
    <ng-container *ngIf="headerActionItems.length">
      <ng-container *ngFor="let headerActionItem of headerActionItems; let i = index">
        <p-button 
        tabindex="-1"
          icon="cui-icon {{ headerActionItem.icon }}"
          styleClass="{{ headerActionItem.styleClass }}"
          title="{{ headerActionItem.title }}"
          attr.aria-label="{{ headerActionItem.title }}"
          (onClick)="headerActionItem.command ? headerActionItem.command({originalEvent: $event, item: headerActionItem}) : headerActionMenu.toggle($event)"
        ></p-button>
        <p-tieredMenu
          [model]="headerActionItem.items"
          [popup]="true"
          breakpoint="1040px"
          appendTo="body"
          #headerActionMenu
        ></p-tieredMenu>
      </ng-container>
    </ng-container>
  </div>

  <div class="cui-header-actions-alt">
    <p-button
    styleClass="cui-header-actions-alt-menu-toggler"
    icon="cui-icon-more-menu"
    aria-label="More actions"
    (onClick)="toggleAltActionMenu($event)"
    ></p-button>
    <p-panelMenu
      *ngIf="altActionMenuActive"
      [model]="headerActionItems"
      styleClass="cui-header-alt-menu cui-header-actions-alt-menu"
      #headerAltActionMenu
    ></p-panelMenu>
  </div>
  
  <div class="cui-header-avatar-wrapper">
    <div class="cui-header-avatar-image-wrapper">
      <div class="cui-header-avatar-image">
        <!-- optional image -->
      </div>
      <div class="cui-header-avatar-initials">
        <!-- optional initials -->
        JD
      </div>
    </div>
    <div class="cui-header-avatar-data-wrapper">
      <div class="cui-header-avatar-fullname">
        <!-- optional user name -->
        Jane Doe
      </div>
      <div>
        <!-- optional email address or additional user data -->
        jane.doe&commat;etas.com
      </div>
    </div>
  </div>
</header>
